@import "../colors.scss";

* {
  all: unset;
}

.workspace-icon {
  padding: 4pt 0pt;
  font-size: 15pt;

  &.active {
    color: $color1;
    border-right: 2pt solid $color1;
  }

  &.empty {
    color: $color2;
  }
  
  &.occupied {
    color: $color3;
  }

  &.urgent {
    color: $color4;
  }
}

.workspaces {
  padding: 8pt 0pt;
  border-bottom-right-radius: 15pt;
  border: 5pt solid $bg-color;
  background-color: $bg-color-light;
}

.search-btn {
  background-color: $color6;
  color: $bg-color;
  border: 5pt solid $bg-color;
  padding: 11pt 10pt;
  font-size: 1.2rem;
}

.menu-btn {
  font-size: 1.5rem;
  background-color: $color5;
  color: $bg-color;
  border: 5pt solid $bg-color;
  padding: 9pt 10pt;
}

.time {
  background-color: $bg-color-light;
  border: 5pt solid $bg-color;
  padding: 5pt 0pt;

  &-hours {
    color: $color3;
  }

  &-minutes {
    color: $color5;
  }
}

.bar {
  background-color: $bg-color;
}
