// general
$bg-color: #0C161A;
$bg-color-light: lighten($bg-color, 2%);
$fg-color: #f8f8f2;

// bar icons
$color1: #e9c46a;
$color2: #264653;
$color3: #f4a261;
$color4: #e76f51;
$color5: #2a9d8f;
$color6: #4F8CB3;
